body{
    margin:0;
}
header {
    background-image: url(../images/hero.png);
    background-size: cover;
    height: 400px;
    position:relative;
    margin-bottom:10em;
}
.nav-bar  {    
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
}

.head-nav ul{
    padding:0;
}

.head-nav ul li{
    list-style: none;
    display:inline;
    margin:0.5em;
}

.plan-form {
    width:70vw;
    position:absolute;
    bottom:-7em;
    left:15%;
    border: 2px solid #1b5557;
}